* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

:root {
  --font-family-1: Lexend Deca;
  --font-family-2: Big Shoulders;

  --font-weights-1: 400;
  --font-weights-1: 700;

  --primary-color-1: hsl(31, 77%, 52%);
  --primary-color-2: hsl(184, 100%, 22%);
  --primary-color-3: hsl(179, 100%, 13%);

  --Neutral-1: hsla(0, 0%, 100%, 0.75); /*paragraphs */
  --Neutral-2: hsl(0, 0%, 95%); /*background, headings, buttons */
  --Neutral-3: hsl(0, 0%, 95%);
}

body {
  font-family: sans-serif;
  font-size: 0.9375rem;
}

.card_component-wrapper {
  margin: 30px auto;
  max-width: 250px;
  border-radius: 2px;
}

img {
  max-width: 20%;
}

.heading {
  padding: 20px 0px;
  font-family: var(--font-family-1);
  text-transform: uppercase;
  font-size: large;
  font-weight: var(--font-weights-1);
}

.heading + p {
  margin-bottom: 30px;
  font-family: var(--font-family-2);
  font-size: small;
  line-height: 1.5;
  color: var(--Neutral-1);
}

.card_component-wrapper a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--Neutral-2);
  border-radius: 20px;
  font-size: x-small;
  font-weight: var(--font-weights-1);
}

.sadan-cta {
  color: var(--primary-color-1);
}

.suv-cta {
  color: var(--primary-color-2);
}

.luxury-cta {
  color: var(--primary-color-3);
}

.sadan-cta:hover {
  background-color: var(--primary-color-1);
  border: 1px solid var(--Neutral-2);
  color: var(--Neutral-2);
}

.suv-cta:hover {
  background-color: var(--primary-color-2);
  border: 1px solid var(--Neutral-2);
  color: var(--Neutral-2);
}

.luxury-cta:hover {
  background-color: var(--primary-color-3);
  border: 1px solid var(--Neutral-2);
  color: var(--Neutral-2);
}

#sedan,
#suv,
#luxury {
  padding: 40px;
  color: var(--Neutral-2);
}

#sedan {
  background-color: var(--primary-color-1);
  border-radius: 10px 10px 0px 0px;
}

#suv {
  background-color: var(--primary-color-2);
}

#luxury {
  background-color: var(--primary-color-3);
  border-radius: 0px 0px 10px 10px;
}

.attribution {
  text-align: center;
  font-size: x-small;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  .card_component-wrapper {
    margin-top: 200px;
    display: flex;
    max-width: 800px;
    max-height: 450px;
  }

  .heading {
    font-size: x-large;
  }

  #sedan,
  #suv,
  #luxury {
    padding: 55px;
    color: var(--Neutral-2);
  }

  .heading + p {
    margin-bottom: 65px;
  }
}
